

@font-face{
	font-family: "Berlin Sans FB";
	src: url("../font/BRLNSR.TTF");
}

.bordageral{
	padding: 0 5%;
}

nav{
	background-color: rgb(255, 255, 255);
}

.anabnb .logo{
	font-family: "Berlin Sans FB";
	color: rgb(255, 26, 60) !important;
	font-size: 200%;
}

.itensmenu a{
	color: rgb(0,0,0);
}

.itensmenu a:hover{
	background-color: rgb(240,240,240);
	border-radius: 20px;
}

.filtros .btn{
	border-radius: 20px;
	margin: 10px 0;
}

#logo{
	width: 45px;
}

#conteudo{
	margin-top: 100px;
}

.rosa{
	background: -webkit-linear-gradient(rgb(159,0,24), rgb(255, 26, 60));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
	font-size: 235%;
}

.linhadocard{
	display: flex;
	justify-content: space-between;
}

.resultado{
	width: 90%;
	margin: auto;
	height: 100%;
	box-shadow: 4px 4px 15px rgb(150, 150, 150);
	border-radius: 25px;
}

.card-img-top{
	border-radius: 25px 25px 0 0 !important;
}
.card-text{
	margin-top: 10px;
}

.margem_baixo{
	margin-top: 25px;
	margin-bottom: 25px;
}

.margem_texto{
	margin-bottom: 10px;
}

.imgcoracao{
	width: 30px;

}

.menubusca{
	margin-bottom: 30px;
	text-align: center;
}

.menubusca input{
	padding: 10px;
	height: 50px;
	border-radius: 20px;
}

.inputdata{
	width: 160px;
}

.inputtext{
	width: 200px;
}

.inputnumber{
	width: 180px;
}

.botaolupa{
	height: 45px;
}

.botaoacomodacoes{
	font-size: 150%;
	min-width: 30%;
	padding: 25px;	
	border-radius: 30px;
	margin-bottom: 50px;
}

.dicas{
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	padding: 50px; 
}

.dicas p{
	font-size: 200%;
}

.fundopreto{
	background-color: rgb(0,0,0);
}

.carddicas1{
	margin-right: 40px;
	width: 90%;
	border-radius: 25px !important;
}

.carddicas2{
	margin-right: 50px;
	margin-left: 15px;
	width: 90%;
	border-radius: 25px !important;
}

.carddicas3{
	margin-left: : 25px;
	margin-right: 15px;
	width: 90%;
	border-radius: 25px !important;
}

.carddicas4{
	margin-top: 45px;
	margin-left: 15px;
	margin-right: 15px;
	width: 90%;
	border-radius: 25px !important;
}

.card-footer a:hover{
	color: rgb(255, 26, 60) !important;
	text-decoration: none;
	font-weight: bold;
}


