

@font-face{
	font-family: "Berlin Sans FB";
	src: url("../font/BRLNSR.TTF");
}

.bordageral{
	padding: 0 5%;
}

nav{
	background-color: rgb(255, 255, 255);
}

.anabnb{
	font-family: "Berlin Sans FB";
}

.anabnb a{
	color: rgb(255, 26, 60) !important;
	font-size: 200%;
}

#logo{
	width: 45px;
}

#conteudo{
	margin-top: 100px;
}

.rosa{
	background: -webkit-linear-gradient(rgb(159,0,24), rgb(255, 26, 60));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.linhadocard{
	display: flex;
	justify-content: space-between;
}

.resultado{
	width: 90%;
	margin: auto;
	height: 100%;
	box-shadow: 4px 4px 6px 0 rgba(255, 26, 60, 0.2), 6px 6px 14px 0 rgba(255, 26, 60, 0.19);
}

.card-text{
	margin-top: 10px;
}

.borda_baixo{
	margin-top: 25px;
	margin-bottom: 25px;
}

